Hi Admin.
<hr class="my-4">
<div class="list-group">
    <a href="/manage-accounts/view-account-requests" class="list-group-item list-group-item-action">View Account Requests</a>
    <a href="/view-professors" class="list-group-item list-group-item-action">Manage Professors</a>
    <a href="/view-students" class="list-group-item list-group-item-action">Manage Students</a>
    <a href="/view-courses" class="list-group-item list-group-item-action">Manage Courses</a>
    <a href="/view-classes" class="list-group-item list-group-item-action">Manage Classes</a>
</div>