Hi Admin.
<hr class="my-4">
<div class="list-group">
    <a href="/manage-accounts/view-account-requests" class="list-group-item list-group-item-action" name="viewAccountRequests">View Account Requests</a>
    <a href="/view-administrators" class="list-group-item list-group-item-action" name="manageAdministrators">Manage Administrators</a>
    <a href="/view-professors" class="list-group-item list-group-item-action" name="manageProfessors">Manage Professors</a>
    <a href="/view-students" class="list-group-item list-group-item-action" name="manageStudents">Manage Students</a>
    <a href="/view-courses" class="list-group-item list-group-item-action" name="manageCourses">Manage Courses</a>
    <a href="/view-classes" class="list-group-item list-group-item-action" name="manageClasses">Manage Classes</a>
</div>