Hi Student.
<hr class="my-4">
<div class="list-group">
    <a href="/student/view-available-classes" class="list-group-item list-group-item-action">Class Registration</a>
    <a href="/classes" class="list-group-item list-group-item-action">View Enrolled Classes</a>
    <form method="GET" action="edit-past-courses">
        <button class="list-group-item list-group-item-action" type="submit">Edit Past Courses</button>
    </form>
</div>