<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center">Welcome</h5>

                    {{#if administrator}}
                    {{>adminIndex}}
                    <hr class="my-4">
                    {{/if}}

                    {{#if student}}
                    {{>studentIndex}}
                    <hr class="my-4">
                    <div class="list-group">
                        <a href="/student/view-available-classes" class="list-group-item list-group-item-action">View
                            Available Classes</a>
                    </div>
                    {{/if}}

                    <div class="list-group">
                        <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var email = "{{cookieEmail}}";
    var password = "{{cookiePassword}}";
    if (email !== "" && password !== "") {
        document.cookie = "email=\"" + email + "\"; max-age=1800";
        document.cookie = "password=\"" + password + "\"; max-age=1800";
    }
</script>